@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79P0U.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh4Ok.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptserif/v12/EJRVQgYoZZY2vCFuvDFR.ttf) format('truetype');
}
.wrapper {
  font-family: "PT Sans";
  margin: 50px auto;
  cursor: default;
}
.wrapper .resumeRow {
  font-size: 18px;
  line-height: 24px;
  display: flex;
}
.wrapper .resumeRow .resumeAside {
  background-color: #141428;
  color: #fffaf5;
  width: 40%;
}
.wrapper .resumeRow .resumeAside .imgBox img {
  width: 100%;
  height: auto;
}
.wrapper .resumeRow .resumeAside .contacts .contactsImg .contImg img {
  width: 25px;
  height: 25px;
}
.wrapper .resumeRow .resumeAside .contacts .contactsImg .contText {
  position: relative;
}
.wrapper .resumeRow .resumeAside .contacts .contactsImg .contText a {
  color: #fffaf5;
}
.wrapper .resumeRow .resumeAside .contacts .contactsImg .contText span {
  position: relative;
  margin-left: 15px;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
.wrapper .resumeRow .resumeAside .contacts .contactsImg .contText span:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: #fffaf5;
  bottom: 0;
  transition: 0.3s ease-in-out;
}
.wrapper .resumeRow .resumeAside .contacts .contactsImg .contText :hover {
  color: #7d7d7d;
}
.wrapper .resumeRow .resumeAside .contacts .contactsImg .contText :hover span:after {
  left: 0;
  width: 100%;
  background-color: #7d7d7d;
}
.wrapper .resumeRow .resumeAside .titleAside {
  font-size: 24px;
  text-decoration: underline #7d7d7d;
}
.wrapper .resumeRow .resumeAside .scills ul li {
  list-style: disc;
  color: #ff4500;
  margin-bottom: 5px;
}
.wrapper .resumeRow .resumeAside .scills ul li span {
  color: #fffaf5;
  transition: 0.3s ease-in-out;
}
.wrapper .resumeRow .resumeAside .scills ul li span:hover {
  color: #7d7d7d;
  transition: 0.3s ease-in-out;
}
.wrapper .resumeRow .resumeContent {
  background-color: #fffaf5;
  color: #141428;
  width: 60%;
}
.wrapper .resumeRow .resumeContent .contentBox .titleContent {
  font-size: 24px;
  text-decoration: underline #7d7d7d;
}
.wrapper .resumeRow .resumeContent .contentBox .title {
  font-size: 24px;
  font-weight: bold;
}
.wrapper .resumeRow .resumeContent .contentBox ol li {
  color: #ff4500;
}
.wrapper .resumeRow .resumeContent .contentBox ol li .contentText {
  color: #141428;
}
.wrapper .resumeRow .resumeContent .contentBox ol li .link {
  position: relative;
}
.wrapper .resumeRow .resumeContent .contentBox ol li .link a {
  color: #141428;
}
.wrapper .resumeRow .resumeContent .contentBox ol li .link span {
  position: relative;
  display: inline-block;
  text-decoration: underline #7d7d7d;
  transition: 0.3s ease-in-out 1s;
}
.wrapper .resumeRow .resumeContent .contentBox ol li .link span:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: #141428;
  bottom: 0;
  transition: 0.3s ease-in-out;
}
.wrapper .resumeRow .resumeContent .contentBox ol li .link span:hover {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.wrapper .resumeRow .resumeContent .contentBox ol li .link :hover {
  color: #7d7d7d;
}
.wrapper .resumeRow .resumeContent .contentBox ol li .link :hover span:after {
  left: 0;
  width: 100%;
  text-decoration: none;
  background-color: #7d7d7d;
}
.wrapper .resumeRow .resumeContent .contentBox .text span {
  color: #7d7d7d;
}
@media only screen and (max-width: 575px) {
  .wrapper .resumeRow {
    font-size: 16px;
    line-height: 20px;
    flex-direction: column;
  }
  .wrapper .resumeRow .resumeAside {
    width: 90%;
    margin: 0 auto;
    order: 2;
  }
  .wrapper .resumeRow .resumeAside .titleAside {
    font-size: 20px;
  }
  .wrapper .resumeRow .resumeContent {
    width: 90%;
    margin: 0 auto;
    order: 1;
  }
  .wrapper .resumeRow .resumeContent .contentBox .titleContent {
    font-size: 20px;
  }
}
